
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap'); */

@import "tailwindcss";

@theme {
  --color-blue-base: #2C46B1;
  --color-blue-dark: #2C4091;
  
  --color-gray-100: #F9F9FB;
  --color-gray-200: #E4E6EC;
  --color-gray-300: #CDCFD5;
  --color-gray-400: #74798B;
  --color-gray-500: #4D505C;
  --color-gray-600: #1F2025;

  --color-feedback-danger: #B12C4D;

  --font-sans: "Open Sans", "sans-serif";
}

body {
  font-family: 'Open Sans', sans-serif;
}

body > .root{
  width: 100%;
}

[data-radix-scroll-area-viewport] > div[style*="display: table"] {
  display: block !important;
  min-width: 100% !important;
}